{{- $personalEmail := promptStringOnce . "personalEmail" "Personal git email" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work git email" -}}
{{- $signingKey := promptStringOnce . "signingKey" "SSH signing public key" -}}
sourceDir = "~/.dotfiles"

[data]
    personalEmail = {{ $personalEmail | quote }}
    workEmail = {{ $workEmail | quote }}
    signingKey = {{ $signingKey | quote }}
