{{- $personalEmail := promptStringOnce . "personalEmail" "Personal git email" -}}
{{- $workEmail := promptStringOnce . "workEmail" "Work git email" -}}
{{- $signingKey := promptStringOnce . "signingKey" "SSH signing public key" -}}
sourceDir = "~/.dotfiles"
edit.watch = true

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]

[data]
    personalEmail = {{ $personalEmail | quote }}
    workEmail = {{ $workEmail | quote }}
    signingKey = {{ $signingKey | quote }}
