# yaml-language-server: $schema=https://raw.githubusercontent.com/jesseduffield/lazygit/master/schema/config.json
gui:
  showIcons: true
  nerdFontsVersion: "3"
git:
  commit:
    signOff: true
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
